@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #111827;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}
/* CALENDÁRIO */

.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.react-calendar {
width: 80%;
max-width: 1000px;
  margin: 0 auto;
}

.react-calendar__navigation button:hover {
  background: #e2e8f0;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #64748b;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px;
  text-align: center;
}

.react-calendar__tile {
  height: 80px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.react-calendar__tile:hover {
  background: #dbeafe;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #dcfce7;
  color: #166534;
  font-weight: 700;
}

.react-calendar__month-view__days__day--weekend {
  color: #ef4444;
}
.react-calendar__navigation__label {
  font-size: 24px !important;
  font-weight: 700;
}
.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__tile {
  width: 100% !important;
  height: 90px !important;
}